.boxHeading {
    padding: 20px;
    width: 1200px;
    background-color: #f26744;
    margin: 50px auto;
    margin-top: 50px auto;
   }
   
.boxtext {
    border: 2px rgb(216, 239, 235);
    padding: 20px;
    width: 1200px;
    background-color: #f0f0f0;           
    margin: 50px auto;
    }
    
.boxfooter {
    padding: 20px;
    width: 1157px;
    background-color: #f26744;
    margin: 50px auto;
    }


h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #568ee8;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: aliceblue;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: aliceblue;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(0, 35, 9);
    font-size: large;
}

#heading{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

#foottext {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: aliceblue;
}

#answertext {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: darkgreen;
    font-size: large;
}

.top-nav-bar {
    background-color: #ca401d;
    overflow: hidden;
    padding: 10px;
    width: 1177px;
    margin: 50 px auto;
}

.top-nav-bar a {
    text-align: center;
    color: aliceblue;
    text-align: center;
    padding: 40px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.top-nav-bar a:hover {
    background-color: #ca401d;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.926);
}

.top-nav-bar a.active {
    background-color:#f26744;
}

#italic {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #465a50;
    font-size: small;
}
td {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(0, 35, 9);
}

td > h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(0, 35, 9);
}

.storytable {
    
    background-color: rgb(205, 205, 205);
}

.button {
    width: 1200px;
    background-color: aliceblue;
    height: 50px;
}

#buttontext {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(0, 35, 9);
    font-size: larger;
}